.btn {
  --scale: 1;

  border-radius: 4px;
  color: white;
  padding: 0.5em 1em;
  border: none;
  transition: all 0.1s ease-out;
  transform: scale(var(--scale));
}

.btn:hover {
  filter: hue-rotate(10deg);
  transform: scale(calc(var(--scale) + 0.1));
}

.btn:active {
  transform: scale(var(--scale));
}
